# ==========================================
# CONEXÃO COM O MARIADB
# ==========================================
DB_ROOT_PASS=
DB_NAME=

# ==========================================
# CONEXÃO COM O BANCO DE DADOS
# ==========================================
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# ==========================================
# CONFIGURAÇÕES DO MINIO (Obrigatório)
# ==========================================
# URL interna: como o backend "enxerga" o MinIO dentro da rede do Docker
MINIO_URL=
# URL pública: como o navegador do usuário acessará o link do PDF
MINIO_PUBLIC_URL=
MINIO_USER=
MINIO_PASS=


# ==========================================
# CONFIGURAÇÕES DE E-MAIL
# ==========================================
MAIL_USERNAME=
MAIL_PASSWORD=

# ==========================================
# SEGURANÇA
# ==========================================
JWT_SECRET=

# ==========================================
# ROTA NO ENVIRONMENTS DO ANGULAR
# ==========================================
# O valor da variável será injetado nas variáveis de ambiente (environment e
# environment.development) do angular. Se a variável for omitida, assumira omitida
# o valor padrão: http://localhost:8080
API_URL=

# ============================================
# ROTA PARA O ANGULAR ACESSAR O BACKEND PYTHON
# ============================================
# O valor da variável deve conter o IP do host onde o backend Python está rodando
# Pode ser o mesmo PC onde o ambiente Docker está instalado ou outro PC
PYTHON_HOST=

# ==========================================
# ROTAS DO FRONTEND
# ==========================================
# Descomente e preencha a variável abaixo caso o sistema
# tenha que rodar em vários domínios diferente. Se deixada comentada, o sistema 
# assumirá o valor padrão. A variável pode receber vários domínios separados por vírgula.
# Ex: https://sistemas.pgm.rn.gov.br,http://localhost:8080,http://10.19.1.36.

FRONTEND_URLS=